/* Fonts */

/* IBM Plex Sans Thai Looped */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap');

/* All document setings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

/* Responsive styles */

/* Mobile */
@media only screen and (max-width: 400px) {
    .feature-html,
    .feature-css,
    .feature-js,
    .feature-my-projects,
    .feature-insta,
    .feature-about-me {
        width: 100%;
    }

    .content-illustration,
    .content-text {
        min-width: 100%;
        max-height: 600px;
    }

    .upper-text {
        margin-bottom: 20px;
        font-size: 15px;
    }

}

/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .feature-html,
    .feature-css,
    .feature-js,
    .feature-my-projects,
    .feature-insta,
    .feature-about-me,
    .content-illustration,
    .content-text {
        width: 50%;
    }
}

/* Desktop */
@media only screen and (min-width: 961px) {
    .feature-html,
    .feature-css,
    .feature-js,
    .feature-my-projects,
    .feature-insta,
    .feature-about-me {
        width: 25%;
        max-width: 16.666666%;
        height: 100px;
    }
    .content-illustration,
    .content-text {
        width: 50%;
    }
}




/* General settings */

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */

body, html {
    font-family: IBM Plex Sans Thai Looped;
    min-height: 100vh;
    overflow-x: hidden; 
}

a {
    text-decoration: none;
    color: black;
}

/* Main parent element */
.page {
    display: flex;
    flex-wrap: wrap;

}

/* Main child element */
.section {
    width: 100%;
 /* Delete this, so you can change every other childs height */
    display: flex;
    justify-content: center;
}


/* HEADER */
.header {
    /* background-color: #80af96; This was: #9DCFB4 */
background: rgb(128,175,150);
background: linear-gradient(180deg, rgba(128,175,150,1) 0%, rgba(104,141,135,1) 100%);
    display: flex;
    height: 500px;
}

/* Sub-Main parent element */
.section-outer {
/*     display: flex; */
    flex-wrap: wrap;
}

/* Sub-Main child element */
/* Here we have a 100% width proprety, so any future sections won't change because of screen size */
.header .section-inner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* This element is fixed at the top, overlaying other elements below it. */
.menu {
    height: 50px;
    position: fixed;
    background-color: rgba(139, 147, 160, 0.7);
/*     background-blend-mode: multiply; */
    backdrop-filter: blur(5px);
}

.header-logo {
    height: 30px;
    width: 30px;
}


/* If we set height to 100% it almost looks perfect but there will be 40px behind the menu
(it is overlaying). So I added a menu tall margint to top and a 90% height (100% = .header 400px height;
90% = 360px) */
.welcome {
    height: 90%;
    margin-top: 50px;
    flex-direction: column;
}
.upper-text,
.lower-text {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 7.5%;
    color: #F8F8FF;
}
.upper-text {
    font-size: 2.35em;
    letter-spacing: .3em;
    margin-right: -0.3em;
    font-weight: 600;
    text-align: center;
}

.lower-text-first {
    font-size: 1.3em;
    letter-spacing: .3em;
}

.lower-text-second {
    margin-top: 30px;
    font-size: 1em;
    letter-spacing: .1em;
}




/* FEATURES */
.features {
/*     background-color: #80af96; */

background: rgb(128,175,150);
background: linear-gradient(180deg, rgba(104,141,135,1) 0%, rgba(104,141,135,1) 100%);
}

/* Sub-Main child element */
/*  Here we dont have a 100% width proprety, so the future sections can change because of screen size  */
.features .section-inner {
    border-right: 2px solid rgba(255,255,255,.05);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}

.features-links {
    min-height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: #F8F8FF;
}

/* .features-links:hover {
    background-color: #F2F3F4;
} */

/* https://www.youtube.com/watch?v=ceNMP-aQkQ4 Based on this tutorial */
.fetures-section {
    position: relative;
    z-index: 1;
}


/* https://www.youtube.com/watch?v=ceNMP-aQkQ4 Based on this tutorial */
.features-links::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.07);
    z-index: -1;
    transform: scale(0);
/*     transform-origin: center; */
    transition: transform 300ms ease-in;
    
}
.features-links:hover::after {
    transform: scale(1);
} 



/* Content */

.content {
/*     background-color:  #344466; */
background: rgb(104,141,135);
background: linear-gradient(180deg, rgba(104,141,135,1) 0%, rgba(68,90,112,1) 100%);

    min-height: 500px;

}

.content .section-inner:not(.content-text) {
    height: 500px;
/*     border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}



.content-illustration {
    height: 100%;
}

.content-illustration-img {
    max-width: 70%;

}


.content-text {
/*     background-color: slategrey; */
    flex-wrap: wrap;
    justify-content: center;
    display: inline-block;
    

} 
.actual-text {
    margin: 8%;
    color: #F8F8FF;
}

.content-text-head {
    margin-top: 10%;
    letter-spacing: .3em;
    margin-right: -0.3em;
    font-weight: 600;
}




/* FOOTER */
.footer {
    background: rgb(68,90,112);
    background: linear-gradient(180deg, rgba(68,90,112,1) 0%, rgba(52,68,102,1) 100%);
    height: 100px;
    display: flex;
    color: white;
}

.footer-inner {
    background-color: rgba(248, 248, 255, .2);
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
