/* Whole document style starts*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Page style starts */
.page {
    background-color: rgb(223, 223, 223);
}

.header-container {
}

/* Menu-box starts */
.menu-box {
    padding: 50px;
    width: 100%;
    background-color: #f72585;
    display: flex;
    justify-content: center;
}

.menu {
    width: 500px;
    display: flex;
    justify-content: space-between;
    color: azure;
    font-style: bold;
}

.menu-button:hover
.menu-button:link
.menu-button:visited
.menu-button:active {
    color: azure;
}

.menu-button {
    color: azure;
    text-decoration: none;
    padding: 15px;
    /* border: 2px solid white; */
    background-color: #7209B7;
    border-radius: 10px;
}

.menu-button:hover {
    background-color: #480CA8;
}




/* Welcome-box starts */
.welcome-box-container {
    display: flex;
    justify-content: center;

    
}
.welcome-box {
    background-color: #B5179E;
    padding: 150px 0px;
    width: 85%;
    max-width: 90%;
}

.welcome-text {
    color: azure;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 2.7em;
    line-height: 1.2em;
    padding-bottom: 40px;
    text-align: center;
    align-items: center;
}

h2 {
    font-size: 1,7em;
    padding: 0px;
    text-align: center;
    align-items: center;
}

.photo-container {
    display: flex;
    justify-content: center;
}
.photo-grid {
    padding: 100px;
    background-color: #3A0CA3;
    max-width: 100%;
    min-width: 85%;
}