/* Fonts */

/* IBM Plex Sans Thai Looped */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap');

/* All document setings */

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
   
}

body, html {
    font-family: IBM Plex Sans Thai Looped;
    overflow-x: hidden; 
}

a {
    text-decoration: none;
    color: black;
}

/* Responsive styles */

/* Mobile */
@media only screen and (max-width: 400px) {
    .frame {
        max-width: 90%;
        min-width: 200px;
        min-height: 60vh;
    }

    .in-frame-element {
        max-width: 90%;
    }

}

/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .frame {
        max-width: 60vh;
        min-height: 60vh;
        margin: 0 20px;
    }
    .in-frame-element {
        max-width: 90%;
    }
}

/* Desktop */
@media only screen and (min-width: 961px) {
    .frame {
        max-width: 70vh;
        min-height: 70vh;
    }

    /* .in-frame-element {
    } */
} 

.whole-page {
    width: 100%;
    min-height: 100vh;
    background: rgb(128,175,150);
    background: linear-gradient(180deg, rgba(128,175,150,1) 0%, rgba(52,68,102,1) 100%);

}

.menu {
    height: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(139, 147, 160, 0.7);
/*     background-blend-mode: multiply; */
    backdrop-filter: blur(5px);

}
.logo-container {
    display: flex;
}

.header-logo {
    height: 30px;
    width: 30px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;

}
.title-text {
    font-size: 2em;
    color: #F8F8FF;
    letter-spacing: .3em;
    font-weight: 600;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}


.frame-container {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 3px solid #F8F8FF;
    /* margin-top: 50px; */
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
/*     background-blend-mode: multiply; */
    border-image: linear-gradient(0deg, rgb(128,175,150), rgb(52,68,102)) 1;
    margin-bottom: 20px;
}

.in-frame-element {
    width: 300px;
    border: 2px solid;

}

.date {
    height: 50px;
    color: #F8F8FF;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;

}

.time {
    height: 50px;
    color: #F8F8FF;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}


.button-date,
.button-time {
    height: 35px;
    max-width: 120px;
    color: #F8F8FF;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(0, 0, 0, .25);
}

.button-date:hover,
.button-time:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .6);
}